nav{
    display: flex;
    background: lightblue;
    color: white;
}

.nav-logo{
    display: block;
    width : 20%;
    text-align:center;
    margin-top: 10px;
}

.nav-contain{
    width : 80%;
    display : flex;
}

.nav-content{
    text-align:center;
    margin:auto;
}

.nav-links{
    display: block;
    text-decoration-line: none;
}